<!DOCTYPE html>
<html>
<head>
<meta charset='UTF-8'>
<title>Ristorante da Luigi</title>
<%= csrf_meta_tags %>
<%= csp_meta_tag %>
<link rel="manifest" href="/manifest.json">
<link rel="icon" href="/icon.png" type="image/png">
<link rel="icon" href="/icon.svg" type="image/svg+xml">
<link rel="apple-touch-icon" href="/icon.png">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-cookies.js"></script>
<script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin="anonymous"></script>
<script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin="anonymous"></script>
<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
<%= stylesheet_link_tag 'index.min', media: 'all' %>
<script src="/js/ajax.js" defer></script>
<script src="/js/index.min.js" defer></script>
<%= yield :head %>
</head>
<body ng-app="myApp" ng-controller="myCtrl">
<header id="header">
<h1>Ristorante da Luigi</h1>
</header>

<div id="link">
<div title="Home page"><a href="/">Home</a></div>
<div title="Prenotazione dal tavolo"><a href="/page">Ordina</a></div>
<div title="Giacenza frigorifero"><a href="/stock">Giacenza</a></div>
<div title="Giacenza frigorifero"><a href="/sqlite3">SQLite3</a></div>
<div title="Tavoli disponibili"><a href="/table">Tavoli</a></div>
<div title="Prenota un tavolo"  data-bs-toggle='modal' data-bs-target='#prenota_tavolo' data-bs-whatever='@mdo'>Prenota</div>     
</div>

<div class="modal fade" id="prenota_tavolo" tabindex="-1" aria-labelledby="chat" aria-hidden="true">
<div class="modal-dialog">
<form method="post">
<div class="modal-content">
<div class="modal-header">
<h1 class="modal-title fs-5">Inserisci le informazione</h1>
<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
<div>
<div class="mb-3">
    
<div class="form-floating mb-3">
<input type="text" class="form-control" id="nome" name="nome" placeholder="Nome" required>
<label for="nome">Nome</label>
</div>
    
<div class="form-floating mb-3">
<input type="text" class="form-control" id="cogn" name="cogn"  placeholder="Cognome" required>
<label for="cogn">Cognome</label>
</div>
    
<div class="form-floating mb-3">    
<input type="tel" class="form-control" id="tel" name="tel" placeholder="Recapito telefonico" required>
<label for="tel">Recapito telefonico</label>
</div>
    
<div class="form-floating mb-3">
<input type="date" class="form-control" id="data" name="data" required>
<label for="data">Scelgi il giorno</label>
</div>

<div class="form-floating mb-3">
<select class="form-control" id="ora" name="ora" required>
<option value="12:00">12:00</option>
<option value="13:00">13:00</option>
<option value="14:00">14:00</option>
<option value="15:00">15:00</option>
<option value="16:00">16:00</option>
<option value="17:00">17:00</option>
<option value="18:00">19:00</option>
<option value="19:00">19:00</option>
<option value="20:00">20:00</option>
<option value="21:00">21:00</option>
<option value="22:00">22:00</option>
<option value="23:00">23:00</option>
</select>
<label for="ora">Scelgi l'orario</label>
</div>

<div class="form-floating mb-3">
<select class="form-control" id="num" name="num" required>
<option value="4">Tavolo da 4 posti</option>
<option value="6">Tavolo da 6 posti</option>
<option value="12">Tavolo da 12 posti</option>
</select>
<label for="num">Scelgi Tavolo</label>
</div>

</div>
</div>
</div>
<div class="modal-footer">
<button class="btn btn-outline-success" id="btn" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-arrow-up-circle"> </i>Invia</button>
<button type="reset" class="btn btn-outline-danger"><i class="bi bi-x-octagon-fill"> </i>Reset</button>
</div>
</div>
</form>
</div>
</div>

<%= yield %>

<footer>
<div>
<h4>Informazioni:</h4>
<ol>
<li>
<li>Via Roma 001, CAP 20100 Milano</li>
<li>Lunedì - Venerdì: 12:00 - 23:00</li>
<li>Sabato: 13:00 - 00:00</li>
<li>Domenica: Chiuso</li>
</ol>
</div>

<div>
<h4>Contatti:</h4>
<ol>
<li><a href="#"><i class="bi bi-telephone"></i> +39 0123456789</a></li>
<li><a href="#"><i class="bi bi-whatsapp"></i> +39 0987654321</a></li> 
<li><a href="#"><i class="bi bi-envelope-at"></i> luigi@food.it</a></li>   
</ol>
</div>

<div>
<h4>Social:</h4>
<ol>
<li><a href="#"><i class="bi bi-facebook"></i> Facebook</a></li>
<li><a href="#"><i class="bi bi-instagram"></i> Instagram</a></li>
<li><a href="#"><i class="bi bi-linkedin"></i> Linkedin</a></li>
<li><a href="#"><i class="bi bi-tiktok"></i> Tiktok</a></li>
</ol>
</div>
</footer>

</body>
</html>
